# Data (downloaded separately, not stored in git — too large / not ours to redistribute)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# R
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
